table {
    border: 5px solid black;
    font-family: "Oswald", sans-serif;
    font-size: medium;
    letter-spacing: normal;
    font-style: normal;
    }

.a{list-style-type: lower-roman;}
.b{list-style-type: square;}
.c{list-style-type: lower-alpha;}
.d{list-style-type: "$";}

a.nav{text-decoration: none;}

a#not-nav:link{color:hotpink;}

a#not-nav:visited{color:red;}

a#not-nav:hover{color:darkblue;}

h1::first-letter{
    color:maroon;
    font-size: 50px;
}

li::first-letter{
    font-size:25px;
    font-weight: bold;
}